@import './base.css';

* {
  --outline: 1px dotted red;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #FFFBFA;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #086788;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

.title {
  font-size: 3.5em;
  font-weight: bolder;
  color: #000022;
  margin-top: 1.5em;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}

.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}

.error {
  color: var(--color-cerulean);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.error-subtitle {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  text-align: center;
}

.container-text-center .icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;

  color: var(--color-cerulean);
}

body{
  max-width: 2000px;
  margin-left:auto;
  margin-right: auto;
}
