@import './base.css';

* {
  --outline: 1px dotted red;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #FFFBFA;
  font-weight: normal;
}


a,
.green {
  text-decoration: none;
  color: #086788;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

.title {
  font-size: 3.5em;
  font-weight: bolder;
  color: #000022;
  margin-top: 1.5em;
}